.resetPassword
    .contBox
        .mainBox
            .basicDiv
                label.label 当&nbsp前&nbsp用&nbsp户:
                span.name.overflow(ng-bind='user')
            .basicDiv
                label.label 修&nbsp改&nbsp密&nbsp码:
                .btn_group
                    button.btn(ng-click='changePasswordType(1)' ng-class='{green:changePasswordTypeFlag}') 修改登陆密码
                    button.btn(ng-click='changePasswordType(0)' ng-class='{green:!changePasswordTypeFlag}') 设置ZIP解压密码
            .basicDiv(ng-show='changePasswordTypeFlag')
                label.label 原&nbsp始&nbsp密&nbsp码:
                input.selectP(max-input="50" type="password" placeholder="请输入原始密码" ng-model="oldPassword")
            .basicDiv()
                label.label 新&nbsp&nbsp&nbsp密&nbsp&nbsp&nbsp码:
                input.selectP(max-input="50" type="password" placeholder="请输入新密码" ng-model="newPassword" )
            .basicDiv()
                label.label 重复新密码:
                input.selectP(max-input="50" type="password" placeholder="请再次输入新密码" ng-model="newPassword1" )

            .basicDiv.selectBigBox.bootomBtn
                span(ng-bind="str")
                button.btn.success(ng-click="reset()") 保存
