div
    button(ng-click="open()") 点击弹框
    button(ng-click="open1()") 点击弹框1
    button(ng-click="testStage()") $stage
    div {{name}}
    div(ng-loading="1" loading-show="true" style='height:200px;margin-bottom:20px;')
    div(ng-loading="2" loading-show="true" style = 'height:200px;margin-bottom:20px;')
    div(ng-loading="3" loading-show="true" style='height:200px;margin-bottom:20px;')
    div(ng-loading="4" loading-show="true" style='height:200px;margin-bottom:20px;')